#!/bin/bash

project=dionysus-support

function command_rebuild {
  mvn clean install $*
}

function command_site_build {
  mvn clean install && mvn -Pdionysus dionysus:build
}

function command_site_test {
  self site_build
  (cd src/site/huge; yarn start)
}

function command_site_publish {
  mvn -Pdionysus dionysus:publish
}

function command_site_deploy {
  self site_build && self site_publish
}
